.boxWrap {
  width: 30%;
  font-size: 2rem;
  text-align: center;
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 1.5rem;
  border-radius: 1.8rem;
  margin: 2rem 0;
  overflow: hidden;
  height: auto;
  transition: all 0.1s cubic-bezier(1, 0.01, 0.44, 0.52);
  cursor: pointer;
}

.box:hover {
  background-color: rgba(60, 255, 0, 0.048);
  transform: scale(1.02);
}
