.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.104);
  padding: 2rem 0;
}
.row div {
  display: flex;
  width: auto;
  align-items: center;
  /* background: red; */
}

.row h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.row label {
  padding-right: 1rem;
}
.row input {
  height: 3.5rem;
  width: 6rem;
  background-color: transparent;
  border: none;
}

.row input::-webkit-color-swatch {
  border-radius: 0.5rem;
  border: none;
}
