.page2 {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.4rem; */
  justify-content: space-between;
  max-width: 87%;
  gap: 8rem 0;
}
